#messages {
	position: fixed;
	right: 20px;
	top: 50px;
	border-radius: 5px;
	width: 30%;
	z-index: 999;
}
#messages.ng-hide{
	transition:2s;
}

#messages .message-title {
	border-bottom: 1px solid;
	display: inline-block;
	margin-bottom: 5px;
	padding: 3px;
}

#messages .message-body {
	border: 0;
	display: inline-block;
	margin: 0;
	padding: 0 3px 3px 3px;
}
.message {
	opacity: 0.7;
}

.message:hover {
	opacity: 1;
}


.message.ng-enter{
	-webkit-transition: 0.75s ease-in-out all; /* for opera only*/
	transition: 0.75s ease-in-out all;
	
	-webkit-transform: translateX(30%) rotate(180deg);
	-ms-transform: translateX(30%) rotate(180deg); /* IE 9 only*/
	transform: translateX(30%) rotate(180deg);
	opacity: 0;
}
.message.ng-enter-active{
	-webkit-transform: translateX(0px) rotate(0deg);
	-ms-transform: translateX(0px) rotate(0deg); /* IE 9 only*/
	transform: translateX(0px) rotate(0deg);
	opacity: 0.7;
}
.message.ng-enter-stagger{
	transition-delay:0.1s;
}
.message.ng-leave{
	-webkit-transition: 1s linear all; /* opera */
	transition: 1s linear all;

	-webkit-transform:  scale(1);
	-ms-transform:  scale(1);
	transform:  scale(1);
	
	opacity: 0.7;
}
.message.ng-leave-active{
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity:0;
}
.message.ng-leave-stagger{
	transition:0.5s;
}

.message.ng-move {
	-webkit-transition: all 1s all;
	transition: all 1s all;
	
	-webkit-transform: translateY(150px);
	-ms-transform: translateY(150px);
	transform: translateY(150px);
}

.message-ng-move-active {
	position: relative;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.transition {
	-webkit-transition: all 1s;
	transition: all 1s;
}

.pin {
	-webkit-animation: pining 500ms linear 0s forwards;
	animation: pining 500ms linear 0s forwards;
}
.unpin {
	-webkit-animation: unpining 1s linear 0s forwards;
	animation: unpining 1s linear 0s forwards;
}

@-webkit-keyframes pining {
	25% {-webkit-transform: rotate(-45deg);}
	75% { -webkit-transform: translateY(-10px) rotate(-45deg);}
	100% { -webkit-transform: translateY(0px) rotate(-45deg);}
}

@keyframes pining {
	50% {transform: rotate(-45deg);}
	75% {transform: translateY(-10px) rotate(-45deg);}
	100% {transform: translateY(0px) rotate(-45deg);}
}

@-webkit-keyframes unpining {
	50% {-webkit-transform: translateY(-10px) rotate(-45deg);}
	100% {-webkit-transform: translateY(0px) rotate(0deg)}

}
@keyframes unpining {
	50% {transform: translateY(-10px) rotate(-45deg);}
	100% {transform: translateY(0px) rotate(0deg)}
}

.expander {
	border: 1px solid black;
	border-radius: 5px;
	width: 250px;
}

.expander > .title {
	background-color: black;
	color: white;
	padding: .1em .3em;
	cursor: pointer;
}

.expander > .body {
	padding: .1em .3em;
	overflow: hidden !important;
	z-index: 2;
}

.expander > .body.ng-hide-add {
	-webkit-animation: minimize 500ms linear 0s;
	animation: minimize 500ms linear 0s;
}

.expander > .body.ng-hide-remove {
	z-index: 1;
	-webkit-animation: maximize 500ms linear 0s;
	animation: maximize 500ms linear 0s;
}


@-webkit-keyframes minimize{
	0%{ 
		-webkit-transform: translateY(0px);
		transform: translateY(0px); 
	}
	50%{ 
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
		opacity: 0.1;
	}
	100%{ 
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px); 
		opacity: 0;
	}
}
@keyframes minimize{
	0%{ 
		-webkit-transform: translateY(0px);
		transform: translateY(0px); 
	}
	50%{ 
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
		opacity: 0.1;
	}
	100%{ 
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px); 
		opacity: 0;
	}
}
@-webkit-keyframes maximize{
	0%{ 
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px);
		opacity: 0;
	}
	50%{ 
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px); 
		opacity: 0.1;
	}
	100%{ 
		-webkit-transform: translateY(0px);
		transform: translateY(0px); 
	}
}
@keyframes maximize{
	0%{ 
		-webkit-transform: translateY(-60px);
		transform: translateY(-60px);
		opacity: 0;
	}
	50%{ 
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px); 
		opacity: 0.1;
	}
	100%{ 
		-webkit-transform: translateY(0px);
		transform: translateY(0px); 
	}
}