<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">close</span>
				</button>
				<h4 class="modal-titel" id="myModalLabel">{{modalTitle}}</h4>
			</div>
			<div class="modal-body" >
				{{modalMsg}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-primary" type="button">
					{{btnText}}
				</button>
			</div>
		</div>
	</div>
</div>