<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Resources example</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/screen.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
		
		<script type="text/javascript" src="lib/jquery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular-resource.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular-animate.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/directives.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
		<script type="text/javascript" src="js/filters.js"></script>
		<script type="text/javascript" src="js/services.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="row">
				<h1>Resources examples</h1>
			</header>
			<div class="row">
				<div class="col-md-2" ng-controller="SidebarController">
					<ul>
						<li ng-repeat="topic in topics">
							<a href="#{{topic.url}}">{{topic.name}}</a>
						</li>
					</ul>

					<span class="glyphicon glyphicon-pushpin stright"></span>
				</div>
				<div class="col-md-10" ng-view>
				</div>
			</div>
			<div id="messages" 
					class="row col-md-12" 
					ng-controller="messageController"
					ng-show="checkMessages()">					
				<div class="message alert alert-{{message.type}}" 
						ng-repeat="message in messages"
						ng-mouseenter="message.stopRemove()"
						ng-mouseleave="message.autoRemove()">
					<span class="message-title col-md-12">
						<label>{{message.title}}</label>
						<span class="pull-right">
							<i class="glyphicon glyphicon-pushpin" ng-class="{straight: message.sticky}" ng-click="message.toggleSticky()"></i>
							<i class="glyphicon glyphicon-remove" ng-click="dismissMsg($index)"></i>
						</span>
					</span>
					<span class="message-body" ng-bind-html="message.body">
					</span>
				</div>
			</div>
		</div>
	</body>
</html>