<h2>{{title}}</h2>

<h3>Contenido</h3>
<div class="list-group">
	<p id="top" class="list-group-item active">Descripci&oacute;n</p>
	<a href="#/#objetivo" class="list-group-item">Objetivo</a>
	<a href="#/#recursos" class="list-group-item">Recursos</a>
	<a href="#/#procedimientos" class="list-group-item">Procedimientos</a>
	<a href="#/#referencias" class="list-group-item">Referencias</a>
</div>

<div id="objetivo" class="panel panel-default">
	<div class="panel-heading">Objetivo<a href="#/#top" class="pull-right" title="Back to top"><i class="glyphicon glyphicon-arrow-up"></i></a> </div>
	<div class="panel-body">
		<p>Observar las bondades y ventajas ofrecidas por la herramienta <strong>$resource</strong> de Angular js asi como tambien la manera de configurar un web service RESTful con php y la librer&iacute;a <i>slim</i></p>
	</div>
</div>

<div id="recursos" class="panel panel-default">
	<div class="panel-heading">Recursos<a href="#/#top" class="pull-right" title="Back to top"><i class="glyphicon glyphicon-arrow-up"></i></a></div>
	<div class="panel-body">
		<ul>
			<li>Angular js</li>
			<li>Angular js - Resource</li>
			<li>Angular js - Routes</li>
			<li>Twitter Bootstrap</li>
			<li>PHP</li>
			<li>Servidor apache</li>
			<li>Librer&iacute;a <i>Slim</i></li>
		</ul>
	</div>
</div>

<div id="procedimientos" class="panel panel-default">
	<div class="panel-heading">Procedimientos<a href="#/#top" class="pull-right" title="Back to top"><i class="glyphicon glyphicon-arrow-up"></i></a></div>
	<div class="panel-body">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus vel vitae mollitia ab non aperiam dicta cupiditate totam incidunt maxime fugit quas tempore obcaecati, perferendis voluptatum et excepturi soluta nesciunt.
	</div>
</div>

<div id="referencias" class="panel panel-default">
	<div class="panel-heading">Referencias<a href="#/#top" class="pull-right" title="Back to top"><i class="glyphicon glyphicon-arrow-up"></i></a></div>
	<div class="panel-body">No se ha agregado ninguna referencia aún</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Enviar un mensajes</div>
	<div class="panel panel-body">
		<div class="panel-group">
			<label class="control-label" for="titulo">Título: </label>
			<input id="titulo" type="text" class="form-control" ng-model="titulo">
		</div>
		<div class="panel-group">
			<label for="msj" class="control-label">Mensaje: </label>
			<input id="msj" type="text" ng-model="msg" class="form-control">
		</div>
		<div class="panel-group">
			<label for="tipo" class="control-label">Tipo: </label>
			<select name="tipo" id="tipo" ng-model="type" class="form-control">
				<option value="success">Exitoso</option>
				<option value="danger">Error</option>
				<option value="warning">Advertencia</option>
				<option value="info">Informacion</option>
			</select>
		</div>
		<div class="row col-md-12">
			<button ng-click="sendTestMsg()">Enviar</button>
		</div>
	</div>
</div>